.cabecalho {
    background-color: azure;
    color: blue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: aquamarine;
    padding: 100px;
}

.section2 {
    background-color: aqua;
    padding: 100px;
}

.cabecalho-imagem{
    width: 80%;
}